body{
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

body button {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}
body button:hover {
  background-color: rgba(130, 130, 130, 0.248); 
}
header{
  width: 100%;
  height: 170px;
  background-color: rgb(90, 90, 255);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

main{
  width: 100%;
  min-height: calc(100vh - 320px);
}
footer{
  width: 1480px;
  height: 150px;
  background-color: rgb(126, 244, 255);
}
/* Header */
.header_link{
  height: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header_link *{
  height: 40px;
}
.BankName{
  font-size: 40px;
  color: azure;
  margin-left: 10px;
  margin-right: auto;
}
.profile-dropdown{
  width: 200px;
  height: 300px;
  position: absolute;
  top: 70px;
  right: -40px;
  background-color: rgb(246, 255, 212);
  font-size: 16px;
}
.user-info, .login-form {
  width: 100%;
  height: auto;
}
.profile-dropdown button{
  width: 70px;
  height: 30px;
  font-size: 14px;
  color: black;
  background-color: aqua;
  margin: 10px;
}
.profile-dropdown input{
  width: 90%;
  height: 30px;
  font-size: 14px;
  color: black;
  margin-left: 5px;
  margin-bottom: 5px;
}
.bar-but{
  display: flex;
  justify-content: center;
}
.Profile{
background-color: transparent;
border: none;
}
.Profile *{  
  width: 40px;
border-radius: 40px;
}
.link-container{
width: 100%;
height: 70px;
display: flex;
justify-content: space-between;
}
.link-container * {
font-size: 50px;
width: 100%;
border: 1px;
text-decoration: none;
background-color: transparent ;
color: black
}
.button-container{
  width: 100%;
height: 50px;
display: flex;
justify-content: space-between;
bottom: 0;
}
.button-container * {
  font-size: 35px;
  width: 100%;
  border: 1px;
  
background-color: transparent ;
  }
.ButBor{
  width: 100%;
  height: 5px;
  background-color: white;
}
/* Main */
main {
  padding: 10px;
}
/* Deposits Loans Card*/
.deposit-info, .loan-info{
  width: 100%;
  background-color: aliceblue;
  border: 1px black;
  border-radius: 6px;
  display: grid;
  grid-template-columns:333px 1fr;
  margin: 7px;
}
.depositecard-container, .loancard-container{
  width: 100%;
  background-color: aliceblue;
  border: 1px black;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  margin: 7px;
}
.depositecard-container *, .loancard-container *{
  margin-left: 10px;
}
.depositecard-container img,
.loancard-container img {
  height: 250px; 
  object-fit: contain;
  mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
}
.Past{
  width: 200px;
  height: 40px;
  border: none;
  background-color: aqua;
  font-size: 28px;
  margin-left: 10px;
}
.Canva{
  max-height: 400px;
}
/* Transaction */
.TransBut{
  width: 40%;
  display: flex;
  flex-direction: row;
}
/* .TransBut *{
  width: 100%;
  height: 30px;
  font-size: 20px;
  background-color: aqua;
  margin: 5px;
} */
table {
  margin-top: 10px;
  width: 80%;
  height: auto;
  border-collapse: collapse; 
  border: 1px solid rgb(132, 132, 132); 
  background-color: white; 
}

th, td {
  border: 1px solid rgba(105, 105, 105, 0.682); 
  padding: 8px; 
}

select{
  height: 20px;
}
option{
  height: 20px;
  font-size: 16px;
}
.TransactCont{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
}
.ReplenishmentCont{
  width: 100%;
  height: auto;
  background-color: aliceblue;
}
.TransF{
  width: 100%;
}
/* footer */
.footer-columns{
  display: flex;
  flex-direction: row;
  height: 70%;
  justify-content: space-evenly;
}
.footerbottom{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;   
  justify-content: space-between; 
}
.LeftText{
width: 245px;
height: 16px;
font-family: 'Futura Bk BT';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-transform: capitalize;
color: #FFFFFF;
}
.Right{
  width: 350px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.Icon10{
  margin-right: 40px;
  margin-top: 4px;
}
.Icon1{
 margin-left: 8px;
 margin-top: 4px;
}
a {
  text-decoration: none; 
  color: inherit; 
  cursor: pointer; 
}
.MadalPage *{
  display: flex;
  justify-content: center;
}
.MadalPage img{
  max-width: 100%;
  object-fit: contain;
  mask-image: linear-gradient(to right, transparent 0%, black 20%, black 80%, transparent 100%);
}